@media only screen and (min-width: 37.5em) {
  nav ul {
      display: flex;
  }

  nav li {
    flex: 1 1 100%;
  }
  
}

.typo-table {
  padding: 2rem;
}

.primary-color, .secondary-color, .accent1-color, .accent2-color {
  padding: 1.5em;
}
