body {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  line-height: 1.75; }

/*top*/
.top-header {
  display: grid;
  grid-template-columns: 1fr; }

/*Header*/
.top-header,
header,
footer {
  background-color: #E41F2d;
  color: #fff;
  text-align: center;
  margin: auto; }

header {
  display: flex; }

.headings {
  padding-right: 0.75rem; }

h1 {
  font-family: 'Podkova', sans-serif;
  font-size: 40px;
  margin-bottom: 0.4em;
  line-height: 1.15em; }

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  margin: 0 auto;
  text-align: center; }

h3 {
  font-size: 30px;
  margin: 0;
  font-family: 'Podkova', sans-serif;
  text-align: center; }

/*Navigation*/
nav {
  background-color: #E41F2d;
  text-align: center;
  margin: auto;
  font-weight: bold;
  font-size: 1.25em;
  width: 100%; }

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

.navigation li:first-child {
  display: block; }

.navigation li {
  display: none; }

.navigation a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none; }

.navigation a:hover {
  background-color: #5f99d7; }

.navigation .active {
  background-color: #fd4755; }

.responsive li {
  display: block; }

/*Main*/
main {
  padding-top: 1rem;
  max-width: 1080px;
  margin: auto; }

/*Banner Image / info on top*/
.section1 {
  position: relative;
  margin: 1rem; }

.hero-image {
  width: 100%;
  overflow: hidden; }

.hero-image img {
  width: 120%;
  margin-left: -3rem; }

.overInfo {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  background-color: rgba(253, 71, 85, 0.8);
  padding: 1rem; }

.overInfo h3 {
  font-size: 1.1em;
  margin: 0; }

.call-to-action {
  display: block;
  background-color: #5f99d7;
  width: max-content;
  padding: 1em;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px; }

.call-to-action:hover {
  background-color: #5f99a5; }

.call-to-action a {
  text-decoration: none;
  color: black;
  font-size: 20px; }

/*welcome*/
.welcome {
  background-color: #a4d5dd;
  margin: 1rem;
  padding: 1rem; }

.welcome-img {
  display: block;
  margin: 1rem auto;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.welcome-title {
  margin-top: 2rem;
  margin-bottom: 0.5rem; }

/*Forecast*/
.section2 {
  display: none;
  background-color: #a4d5dd;
  margin: 1rem;
  padding: 2rem 1rem; }

.section2 h3 {
  font-size: 1.25em;
  text-align: center;
  margin: -0.5rem 0 0.5rem 0; }

div.forecast {
  width: 500px;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  grid-template-columns: 20% 20% 20% 20% 20%;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.4); }

div.forecast div.forecast-image {
  width: 100%;
  display: grid;
  justify-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.3); }

div.forecast div.forecast-label {
  text-align: center;
  width: 99%;
  line-height: 2rem;
  font-weight: bold;
  color: white;
  background-color: #002a46;
  border: 1px solid rgba(0, 0, 0, 0.3); }

div.forecast div.forecast-temp {
  display: inline;
  width: 100%;
  text-align: center;
  padding-bottom: 0.2rem;
  border-right: 1px solid rgba(0, 0, 0, 0.3); }

div.forecast div.forecast-image img {
  padding: 0.75rem; }

/*Contact*/
p.center {
  text-align: center;
  padding: 0 0.75rem; }

div.vspace {
  height: 36px; }

.red {
  color: #990000; }

.section4 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  background-color: #5f99d7;
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 0; }

iframe {
  margin: 0.5em;
  justify-content: center;
  align-items: center; }

.contact-box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center; }

address {
  font-style: normal; }

address a {
  color: black;
  font-size: 0.8em; }

/*Form Settings*/
form {
  width: 100%;
  max-width: 450px;
  margin: 0 auto; }

form fieldset {
  margin: 2rem 2%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0 4% 2rem 4%; }

form fieldset.color1 {
  background-color: #fd4755; }

form legend {
  font-family: 'Lato', serif;
  font-size: 1.25rem;
  margin: 0 1rem;
  padding: 0 0.5rem;
  text-shadow: white 1px 1px, white -1px 1px, white 2px 2px 2px, white -2px 2px 2px, white 3px 3px 4px, white -3px 3px 4px, white 4px 4px 6px, white -4px 4px 6px, white 5px 5px 8px, white -5px 5px 8px, white 6px 6px 10px, white -6px 6px 10px; }

form label.top,
form div {
  display: block;
  padding-top: 1rem; }

form label.top input,
form label.top select,
form label.top textarea {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #002a46;
  border-radius: 4px;
  padding: 0.75rem;
  color: #002a46;
  width: 89%;
  max-width: 20rem;
  background-color: rgba(255, 255, 255, 0.8); }

form label input:focus,
form label select:focus,
form label textarea:focus {
  border: 1px solid black;
  outline: none !important;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }

form label.sbs {
  display: block;
  padding: 0.75rem;
  color: #002a46; }

form label.top input:focus:required:invalid {
  border-color: #990000; }

/*Storm Severity Slider*/
form label.severity span.severitylabels {
  max-width: 21.5rem;
  display: flex;
  justify-content: space-between;
  color: #474747;
  padding: 0;
  margin-bottom: -10px; }

form label.severity span.severitylabels span.labelbox {
  display: flex;
  width: 20px;
  justify-content: center;
  padding: 0; }

form label.severity span.severitylabels span.labelbox span {
  padding-top: 0;
  font-size: 0.8rem; }

form label.severity input {
  -webkit-appearance: none;
  display: block;
  max-width: 21.5rem;
  background-color: #a4d5dd; }

input[type=range] {
  margin: 20px 0 10px 0;
  width: 100%; }

/* Slider styling in Chrome */
input[type=range]::-webkit-slider-runnable-track {
  height: 3px;
  background: #868686; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #555;
  height: 28px;
  width: 20px;
  border-radius: 4px;
  background: #e4e4e4;
  margin-top: -12px; }

/* Slider styling in Firefox */
input[type=range]::-moz-range-track {
  height: 3px;
  background: #868686; }

input[type=range]::-moz-range-thumb {
  border: 1px solid #555;
  height: 28px;
  width: 20px;
  border-radius: 4px;
  background: #e4e4e4;
  margin-top: -12px; }

/*Storm Center Page: Submit Button*/
form label.top select.region {
  width: 98%;
  max-width: 21.5rem; }

form div.divlabel {
  padding-top: 1rem; }

form input.submitBtn {
  border: none;
  background-color: #5f99d7;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0 0 2rem 0;
  width: 100%;
  max-width: 15rem;
  height: 3.5rem;
  border: 2px solid black;
  font-size: 1.25rem; }

input[type="submit"]:hover {
  background-color: rgba(149, 198, 135, 0.4); }

form div.button-div {
  margin: 2rem 2%; }

div.Rentals {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1px;
  text-align: center;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto; }

div.Rentals section {
  padding: 10px;
  background-color: #58555515;
  margin-top: 1em; }

/*Footer*/
footer {
  font-size: 0.8em;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

footer a {
  color: white; }

@media only screen and (min-width: 35em) {
  body {
    font-size: 16px; }

  /*Header*/
  header img {
    width: 90px;
    padding: 0.75rem; }

  h1 {
    font-size: 2.75em;
    margin-bottom: 0.1em; }

  .headings div {
    font-size: 1.1em; }

  h2 {
    font-size: 1.75em; }

  /*Navigation*/
  nav {
    font-size: 1.3em; }

  /*Home Feature*/
  div.feature {
    padding: 2rem; }

  /*Home Local Towns*/
  div.towns {
    padding: 1rem; }

  div.town-data section {
    grid-template-columns: 1fr 1fr; }

  div.town-data section div.town-data {
    grid-area: a; }

  div.town-data section div.town-image {
    grid-area: b; }

  div.town-data section {
    grid-template-areas: "a b"; }

  div.town-data section:nth-child(2n) {
    grid-template-areas: "b a"; }

  div.town-data section div.town-info {
    align-self: center;
    margin: 0.5rem 1rem; }

  div.town-data section h3 {
    font-size: 1.5rem; }

  div.town-data section p {
    font-size: 0.9rem; }

  div.town-data section div.town-image img {
    width: 100%;
    align-self: center; }

  /*Hero Image / Weather Summary*/
  .hero-image img {
    width: 100%;
    margin: 0; }

  .overInfo {
    padding: 1.25rem; }

  .overInfo h3 {
    font-size: 1.25em; }

  .ws-content {
    font-size: 1em; }

  .ws-content div {
    line-height: 1.5rem; }

  /*Forecast*/
  .section2 {
    display: block; }

  /*welcome*/
  .welcome {
    padding: 2rem; }

  .welcome-img {
    float: left;
    margin: 0 1rem 0 0; }

  .welcome-title {
    margin-top: 0; }

  /*Contact Info*/
  /*.section4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}*/
  iframe {
    display: flex;
    width: 550px;
    height: 414px;
    border: 0; }

  .contact-box {
    width: 45%; }

  /*Footer*/
  footer {
    font-size: 1em;
    max-width: 1080px; } }
@media only screen and (min-width: 58em) {
  .top-header {
    display: grid;
    grid-template-columns: 2fr 10fr; }

  /*Header*/
  header img {
    width: 100px; }

  h1 {
    font-size: 3em; }

  .headings div {
    font-size: 1.25em; }

  h2 {
    font-size: 2em; }

  /*Navigation*/
  .navigation {
    display: flex; }

  .navigation li:first-child {
    display: none; }

  .navigation li {
    display: block;
    flex: 1 1 100%; }

  .section1,
  .section2,
  .welcome,
  .events-section {
    margin: 2rem 0; }

  .section4 {
    margin: 2rem 0 0; }

  /*Home Feature*/
  div.feature {
    padding: 3rem;
    margin: 2rem 0; }

  /*Home Local Towns*/
  div.towns {
    margin: 2rem 0; }

  div.town-data {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0.75rem; }

  div.town-data section {
    display: block; }

  div.town-data section div.town-info {
    margin: 1rem 2.5rem; }

  div.town-data section p.motto {
    height: 50px; }

  /*Hero Image / Weather Summary*/
  .section1 {
    padding: 0; }

  .overInfo {
    padding: 1.5rem; }

  /*Storm Center Page*/
  p.large {
    font-size: 1.25rem; }

  form fieldset {
    margin: 2rem auto;
    max-width: 87vw; }

  form div.button-div {
    margin: 2rem auto;
    max-width: 95vw; }

  form label.sbs {
    padding: 0.4rem 0 0 0.75rem; }

  .overInfo h3 {
    font-size: 1.5em; }

  .ws-content {
    font-size: 1.25em; }

  .ws-content div {
    line-height: 1.75rem; }

  /*Forecast*/
  .section2 h3 {
    font-size: 1.55em; }

  /*welcome*/
  div.welcome {
    padding: 3rem;
    margin: 2rem 0; }

  .welcome-img {
    width: 400px; }

  /*Contact Info*/
  address {
    font-size: 1.2em; }

  address a {
    font-size: 1em; }

  /*Contact*/
  p.large {
    font-size: 1.25rem; }

  form fieldset {
    margin: 2rem auto;
    max-width: 87vw; }

  form div.button-div {
    margin: 2rem auto;
    max-width: 95vw; }

  form label.sbs {
    padding: 0.4rem 0 0 0.75rem; }

  section.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem auto;
    margin-bottom: 2rem; }

  h2 {
    grid-column: span 2; }

  div.text {
    padding-left: 3rem; }

  div.Rentals {
    grid-template-columns: 1fr 1fr 1fr; } }
