
body {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  text-align: center;
}
h2,h3{
  background-color: #0f184f;
  color: #dedede;
  margin: 0px;
}

h2 {
  border-radius: 20px 20px 0 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  padding: 10px;
  font-size: 2.5em;
}

h3 {
  border-radius: 0 0 20px 20px;
  text-align: center;
  padding: 20px;
}


h1 {
  font-size: 3em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

h4 {
  font-size: 1.5em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

img {
  max-width: 100%;
}


main {
  text-align: left;
  color: #0f184f;
  margin: 2rem 2rem 2rem 2rem;
  font-family: "Lato", sans-serif;
}

a:link,
a:visited {
  color: #eee;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

a:active {
  color: #1096d4;
  text-decoration: none;
}
section{
  box-shadow: 0px 5px 18px #888888;
  border-radius: 20px;
}

@media (max-width: 35.5em) {
    main {
        display: grid;
        grid-template-columns: 1fr;

    }

}


@media (min-width: 35.5em) and (max-width: 65em) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;

    }

}

@media (min-width: 65em) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
}

